.config {
    text-align: center;
    align-items: center;
    line-height: 2;
}
.conDark {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.darkMode {
    width: 50px;
    height: 30px;
    background-color: rgb(160, 160, 160);
    border-radius: 50px;
    margin: 10px 46%;
    position: relative;
    cursor: pointer;
}
.darkMode .indic {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: aliceblue;
    transform: scale(.8);
    position: absolute;
    left: 0;
    transition: .5s;
}
.darkMode.darkAtv .indic {
    left: 20px;
    background-color: black;
}
.darkMode.darkAtv {
    background-color: rgb(99, 99, 99);
}
body.darkAtv {
    background-color: rgb(50, 50, 50);
}
body.darkAtv #top {
    background-color: rgb(30, 30, 30);
    border-bottom: 2px solid rgb(0, 187, 187);
}
body.darkAtv #top img {
    width: 140px;
    mix-blend-mode: normal;
    border-radius: 50%;
    background-color: rgb(54, 54, 54);
}
body.darkAtv #menu {
    background-color: rgb(15,  15, 15);
    border-right: 2px solid rgb(0, 187, 187);
}
body.darkAtv #abai {
    color: white;
}
body.darkAtv h1 {
    color: white;
}
body.darkAtv #icon {
    color: rgb(0, 187, 187);
}
body.darkAtv p {
    color: white;
}
body.darkAtv ul li.item-menu.ativo a #icon {
    font-size: 30px;
    background-color: black;
    padding: 3%;
    border-radius: 50%;
}

/*area de contatos*/

body.darkAtv .conInfo i {
    color: rgb(0, 187, 187);
}
body.darkAtv .conInfo a {
    color: rgb(0, 187, 187);
}

/*usuario*/

#usuario_con {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(222, 222, 222);
    border: solid;
    border-left: 0;
    border-right: 0;
    border-color: rgb(132, 132, 255);
}
#usuario_con i {
    font-size: 100px;
}
body.darkAtv #usuario_con {
    background-color: rgb(40, 40, 40);
    color: white;
    border-left: 0;
    border-right: 0;
    border-color: rgb(152, 255, 255);
}

/*Area de cadastro*/
#cadastroDiv {
    display: none;
    top: 0;
    align-items: center;
    background-color: rgba(61, 61, 61, .9);
    width: 100vw;
}
#cd {
    height: auto;
    width: 400px;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) ;
    border-radius: 20px;
    padding: 50px;
    border: solid;
    border-color: aquamarine;
}

/*Area de login*/
#loginDiv {
    display: none;
    top: 0;
    align-items: center;
    background-color: rgba(61, 61, 61, .9);
    width: 100vw;
    height: 100vh;
}
#restrito {
    display: none;
    top: 0;
    align-items: center;
    background-color: rgba(61, 61, 61, .9);
    width: 100vw;
    height: 100vh;
}
#lg {
    height: 300px;
    width: 400px;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) ;
    border-radius: 20px;
    padding: 50px;
    border: solid;
    border-color: aquamarine;
}
body.darkAtv  #lg{
    background-color: rgb(50, 50, 50);
    border-color: rgb(0, 187, 187);
}
input {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    color: aquamarine;
    border-radius: 30px;
    border-color: aquamarine;
}
body.darkAtv input {
    color: rgb(0, 187, 187);
    border-color: rgb(0, 187, 187);
    background-color: rgb(37, 37, 37);
}
h3 {
    font-size: 30px;
    color: black;
}
body.darkAtv h3 {
    color: whitesmoke;
}
#chk {
    scale: 50%;
    cursor: pointer;
}

/*Area de login/cadastro de usuario*/
#butcadastro {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    cursor: pointer;
    color: royalblue;
    right: 5;
    border: 2px solid aquamarine;
    border-radius: 40px;
    padding: 3px;
    margin: 3px;
}
body.darkAtv button {
    color: aquamarine;
    border: 2px solid rgb(0, 187, 187);
    background-color: rgb(53, 53, 53);
}
button:hover {
    cursor: pointer;
}