 /*cabeçalho*/
#top {
    display: flex;
    justify-content: center;
    background: rgb(207, 207, 207);
    align-items: center;
    height: 19vh;
    padding: 0 30px;
    position: relative;
    transition: .5s;
    border-bottom: 2px solid blue;
}
#icon-sfg {
    width: 140px;
    mix-blend-mode: multiply;
}
#logo {
    font-family: 'Salsa', cursive;
    font-size: 60px;
    color: lightblue;
    cursor: default;
    background-image: linear-gradient(to bottom, lightblue, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    filter: drop-shadow(1px 1px 1px rgb(0, 99, 99));
}
/*menu*/

#menu:hover {
    width: 220px;
}
#menu:hover #text-link {
    margin-left: 40px;
    opacity: 1;
}
.item-menu:hover {
    background-color: rgb(127, 172, 255);
}
#menu {
    width: 50px;
    height: 81vh;
    background-color: whitesmoke;
    padding: 0 0 0 0;
    transition: .5s;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    border-right: 2px solid blue;
}
ul li.item-menu a {
    color: blue;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
}
ul li.ativo {
    background-color: rgb(127, 172, 255);
}
ul li.item-menu a #text-link {
    margin-left: 75px;
    color: black;
    line-height: 37px;
    transition: .5s;
    opacity: 0;
}
ul li.item-menu a #icon {
    font-size: 30px;
}
.item-menu {
    transition: .5s;
}

/*conteudo*/
main {
    width: 100%;
    height: 81vh;
    align-items: center;
    text-align: center;
}
h2 {
    font-family: "Roboto", sans-serif;
    font-size: 100;
    font-style: normal;
}
p {
    font-family: "Roboto", sans-serif;
    font-size: 100;
    font-style: normal;
}
.pag {
    display: none;
}
.pag.ativo {
    display: block;
}