.fotoImagem {
    transition: .1s ease-in;
    filter: grayscale(100%);
    border-radius: 5px;
}
.fotoImagem:hover {
    filter: grayscale(0%);
}
#tprojetos {
    margin-bottom: 30px;
}

/*Projeto God x Demon*/
#projeto_gxd_fundo {
    display: none;
    background-color: rgba(61, 61, 61, .9);
}
#projeto_gxd{
    background-color: beige;
    top: 50%;
    width: 50vw;
    height: 100vh;
}
#capa_gxd {
    width: 150px;
    cursor: pointer;
}
#projetos {
    height: 100%;
    padding: 10px;
}